:root {
  --base-border-bottom-color: rgb(72, 98, 107);
}
.bg {
  background-color: white;
}
.mg-5 {
  margin: 10px;
}
.pd-10 {
  padding: 10px;
}
.pd-20 {
  padding: 20px;
}
.pd-none {
  padding: 0px;
}
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.bd-r-1 {
  border-radius: 1rem;
}
.mg-l-1 {
  margin-left: 1rem;
}
.mg-r-1 {
  margin-right: 1rem;
}
