footer
    .line.mt-5(style="width:100%;background-color:black;height:5px") 
    .my-5
        .content.mt-3  
            .row.my-2
                .container.mx-auto.d-flex.flex-row.justify-content-between(style="width:85%")
                    .info-section(style="width:30%")
                        img.mb-3.align-content-center.img-fluid(src="/images/logo2.png" alt="" srcset="" style="height:40px;width:80px")
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor quae excepturi fugiat vel ea 
                    .contact-section(style="width:50%").d-flex.flex-row.justify-content-between
                        .email-contact.text-center.d-flex.flex-row.justify-content-center.align-items-center(style="height:80px;border:1px solid gray ;width:45%;border-radius:10px    ")
                            .fs-1.me-5
                                i.fa-solid.fa-envelope
                            div.d-flex.flex-column
                                span.fs-4 send us an email 
                                span.fs-4.fw-bold gggi@gmail.com
                        .email-contact.text-center.d-flex.flex-row.justify-content-center.align-items-center(style="height:80px;border:1px solid gray;width:45%;border-radius:10px    ")
                            .fs-1.me-5
                                i.fa-solid.fa-phone
                            div.d-flex.flex-column
                                span.fs-4 send us an email 
                                span.fs-4.fw-bold gggi@gmail.com
            .row.my-1(style="height:100px;background-color:#d9b3fdZ ;color:#130b46")
                .container.mx-auto.d-flex.flex-row.justify-content-between.align-items-center(style="width:85%")
                    div(style="width:40%")
                        p.fs-1.fw-bolder Subcribe to our newsletter 
                    .d-flex.flex-row.justify-content-end(style="width:50%")
                        input.p-2.ps-4.fs-4.me-3(type="email" placeholder="Email address" style="width:70%;font-color:#130b46;border:2px solid #130b46;border-radius:5px;background-color:transparent")
                        button.fs-5.px-4(type="submit" style="background-color:#130b46;color:white;border-radius:5px") Subcribe
            .row.my-1
                .container.mx-auto.d-flex.flex-column.justify-content-between(style="width:85%")
                    div.d-flex.flex-row.justify-content-between
                        div.d-flex.flex-row.justify-content-between(style="width:40%")
                            div.d-flex.flex-column
                                span.fs-4.title-span(style="color:gray") Product
                                span.my-2.fs-4 Pricing
                                span.my-2.fs-4 Features 
                                span.my-2.fs-4 Category 
                            div.d-flex.flex-column
                                span.my-2.fs-4.title-span(style="color:gray") Resources
                                span.my-2.fs-4 FAQs
                                span.my-2.fs-4 Blog 
                                span.my-2.fs-4 All Resources
                                span.my-2.fs-4 Help center
                            div.d-flex.flex-column
                                span.my-2.fs-4.title-span(style="color:gray") Company
                                span.my-2.fs-4 About us
                                span.my-2.fs-4 Carees
                                span.my-2.fs-4 Contact us
                                span.my-2.fs-4 Why Phantom

                        div.d-flex.align-items-center.justify-content-end(style="width:fit-content;background-color:#130b46;border-radius:7px;border:1px solid black")
                            p.px-5.fs-1(style="color:white") Buy what you really want
            hr.mx-auto(style="width:85%")
            row(style="background-color:red")
                .container.mx-auto.d-flex.flex-row.justify-content-between(style="width:85%")
                    p.fs-5(style="color:gray") @ Manage your time to get better 
                    div 
                        i.fs-1.pe-4.fa-brands.fa-facebook
                        i.fs-1.pe-4.fa-brands.fa-instagram
                        i.fs-1.fa-brands.fa-twitter

                        