@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 10px;

}
*{
  scroll-behavior: smooth !important;
}

/*global*/
:root {
  --teal: #1a9e9e;
  --white: white;
  --indigo: #093145;
  --header-bg-color: #000000;
  --base-bg-color: #ffffff;
  --base-text-color: #f5f2f2;
  --base-textSpe--color: #ff4500;
  --base-textshadow--color: hsl(0 4% 15% /10%);

  --pop: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
}
@mixin a($color) {
  text-decoration: none;
  color: $color;
}
/*global*/
html {
  font-size: 10px;
}
.wrapper {
  width: 100%;
  background-color:#ffffff
}
footer{
  background-color: rgb(231, 231, 231);
}
* {
  box-sizing: border-box;
}


//
.pagination_product ul li{
  cursor: pointer;
}

@media (min-width: 1400px) {
    .custom-container{
        max-width: 1320px;
    }
}
.header-top {
  & {
    font-family: var(--roboto);
    font-weight: 300;
    border-bottom: 1px solid #f0e9e9;
    background-color: var(--header-bg-color);
    padding: 10px;
    height: 100%;
  }
  &-infor__item {
    display: flex;
    margin-right: 1.5rem;
    i {
      margin-right: 1rem;
      color: var(--base-textSpe--color);
    }
    span {
      font-size: 1.5rem;
      color: var(--base-text-color);
    }
  }
  &__address {
    color: var(--base-text-color);
    font-size: 1.5rem;
  }
}
/* main - Header - bottom */
.shopping-cart-icon-section:hover{
  color: rgb(12, 170, 219);
}
.shopping-cart-icon-section{
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .header-bottom {
    height: auto;
    &-infor {
      flex-direction: column;
    }
  }
  .menu-list {
    display: block;
    button {
      display: block;
    }
  }
  .header-top {
    display: none;
  }
  .home-menu {
    display: none;
  }
}
/* cart menu showing modal*/
.cart-menu  {
  position: fixed;
  top: 0;
  right: -500px;
  width: 350px;
  background-color: #ffffff;
  z-index: 6;
  border-radius: 30px 0px 0px 30px;
  transition: all 0.5s ease;
    height: 100%;
  .subtotal-text .price-text{
    color: #1498de;
  }
  .cart-index-button{
    background-color: #0879f1;
    color: white;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
  }
  .list-section{
    max-height: 60%;
    .img-section{
      position: relative;
      .icon-cancel{
        position: absolute;
        top: -5px;
        left: -5px;
        background-color: white;
        border-radius: 20px;
        border: 1px solid rgb(214, 214, 214);
        box-shadow: 0px 2px 2px rgb(141, 139, 139);
        cursor: pointer;
        transition: all 0.4s ease;
        button{
          border: none;
          background-color: transparent;
        }
      }
      .icon-cancel:hover{
        background-color: red;
        .fs-3{
          color: white;
        }
        
      }
    }
    .product-cart-item2 img{
        width: 80px;
        height: 80px;

    }
     .product-cart-info span{
        font-family: "Poppins",sans-serif;
     }
     .title-text{
      font-weight: 600;
      text-decoration: none;
      color: #000000;
      cursor: pointer;
     }
     .title-text:hover{
      color: #0879f1;
     }
    
  }
  
}
.icon-cancel{
  cursor: pointer;
}
.cart-active{
  right: 0;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.6;
  background-color: rgb(0, 0, 0);
  z-index:5;
    display: none;

  
  }
   .overlay-active{
    display: block;
  }
/* On screens that are 992px or less, set the background color to blue */


/* ----------=Main-content=------------------- */
/* Home-page */

.best-seller-2{
background-color: rgb(231, 231, 231);
}
.sale-banner{
  background-color: rgb(231, 231, 231);
}
.sale-banner img{
  width: 35%;
}
.banner-text  h1{
  font-size: 50px;
}
.small-text span{
  color: black;
  font-family: "Poppins",sans-serif;
}
.banner-text .big-text .number-text{
  color: #0879f1;
  font-style: italic;
}
.banner-text a{
  background-color: #0879f1;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease;
  border:1px solid rgb(13, 89, 229);
}
.banner-text a:hover{
  background-color: white;
  color:black;
  border-color: black;

}
/*quick view modal*/
#quickViewModal{
   font-family: "Poppins",sans-serif;
  img{
    height: 450px;
    width: 100%

  }
  .title{
    font-size: 30px;
    font-weight: 600;
  }
  p{
    font-size: 18px;
    font-weight: 500;
    color: #575656;
  }
  select{
    width: 100%;
    font-size: 20px;
  }
  input{
    width: 150px;
    height: auto;
    font-size: 30px;
  }
  button{
    color: white;
    background-color: #0c75ed;
    font-size:20px ;
    border: 1px solid rgb(136, 190, 240);
  }

}
/*best seller*/
.best-seller-2 a{
  border: 1px solid rgb(121, 171, 236);
  width: fit-content;
  text-decoration: none;
  color: rgb(244, 244, 244);
  background-color: #0879f1;
  transition: background-color 0.2s linear;
}
.best-seller-2 a:hover{
  border: 1px solid black;
  background-color: rgb(248, 246, 246);
  color:rgb(19, 19, 19)
}
.best-seller-2 img{
  height: 250px;
  width: 250px;
  transition: transform 1s ease;

}
.best-seller-2:hover img{
transform: rotate(10deg);

}

// .best-seller-2 {
//   height: 250px;
//   width: 250px;

// }



/* Home-slide-area */
.home-slide-area {
  max-width: 100%;
  height: 600px;
  /* background-image: url(../images/banner.avif);
  background-repeat: no-repeat;
  background-size: contain; */
}
.home-slide-area img {
  height: 100%;
  width: 100%;
}

/* Product area */
    /*product-item */
.best-selling-text{
  font-family: sans-serif;
}
.product-item2 img{
  height: 300px;
  width: 100%;

} 

.original-price{
  text-decoration: line-through;
  color: #b5b5b5;
}
.sale-price{
  color: #0879f1;
  font-family: "Poppins",sans-serif;
}
.product-item2 .fs-4{
  font-weight: 600;

}
.sale-badge{
  position:absolute;
  right: 10px;
  top:10px;
  background-color: white;
  box-shadow:0 1px 4px 0 rgb(100, 98, 98);
  border:1px solid rgb(239, 239, 239)
}
.product-item2{
  background-color: transparent;
  font-family: "Poppins",sans-serif;
}
.price-sale{
  color: black;
}
.product-item-top{
  position: relative;
  cursor: pointer;

}
.product-hover-action {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom:70px;
  opacity: 0;
  transition: all 0.5s ease;


}
.product-hover-action .icon{
  cursor: pointer;
  background-color: white;
  box-shadow:0 2px 4px 0 rgb(100, 98, 98);
  transition: all 0.3s ease;

}
.product-hover-action .icon:hover{
  color: white;
  background-color: #0879f1;
}


.img-wrapper{
  position: relative;
}
.img-hover{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 270px;
  transition: opacity 0.5s ease-out;
}
.img-hover:hover {
  opacity: 1;
}
.product-item-top:hover {
  .product-hover-action{
opacity: 1;
bottom: 30px;
  };
  .img-hover{
  opacity: 1;
}
 }
////
.product-range {
  margin-top: 100px;
  // background-color: aqua;
  height: auto;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(228, 14, 14, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  &__item {
    display: block;
    max-width: 368px;
    min-width: 368px;
    width: 30%;
    margin: 10px;
    img {
      top: 0px;
      width: 100%;
      height: 400px;
    }
  }
  &__introduction {
    width: 100%;
    text-align: center;
    h2 {
      margin-bottom: 0px;
      background-color: #ffffff;
      color: rgb(34, 25, 25);
      font-size: 5rem;
      padding-bottom: 0px;
      border-bottom: 5px solid red;
    }
  }
}
/* -----------------------------------------Product page---------------------------------  */
/* 
------------------------Product-Cart--------------------------- */

.box-products {
  margin: 10px 40px;
}
.section-title i {
  box-shadow: 0 1px 4px hsl(0 4% 15% /10%);
  font-weight: 600;
}
:root {
  --main--color: #fd4646;
  --text--color: #171427;
  --bg--color: #fff;
}
@mixin price($color) {
  text-align: center;
  color: $color;
  font-size: 1.8rem;
}
@mixin btn($color, $bg, $border: none) {
  text-align: center;
  color: $color;
  background-color: $bg;
  border: $border;
  cursor: pointer;
}
.cart-product {
  margin: 10px 10px;
  height: 300px;
  position: relative;
  border: 1px solid var(--base-textshadow--color);
cursor: pointer;
  &__img {
    height: 60%;
    width: 100%;
    object-fit: scale-down;
  }
  &__title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5rem;
    /* text-transform: uppercase; */
    font-weight: 500;
  }
  &:hover {
    padding: 10px;
    /* border: 1px solid var(--main--color); */
    transition: 0.9s;
  }
  &__price {
    text-align: center;
    .priceNew {
      @include price(darkgreen);
      font-weight: 500;
    }
    .priceOrgirinal {
      padding-right: 10px;
      @include price(red);
    }
    .priceDiscountPercentage {
      text-decoration: line-through;
    }
  }
  &__addCart {
    @include btn(var(--base-text-color), black);
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 17px;
    &:hover {
      color: var(--base-textSpe--color);
    }
  }
  &__discountPercentage {
    height: 20px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: var(--base-text-color);
    font-size: 15px;
  }
}
// img {
//   /* width: 50%; */
//   height: 70%;
// }
.slide {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 30px;
  max-width: 100%;
  /* height: 800px; */
}
.nav_slide {
  text-align: center;
  min-width: 40px;
  margin: 0px 5px;
  height: 30px;
  background-color: var(--bg--color);
}
/*product index*/
.product-all-banner{
  background-color:  rgb(231, 231, 231);
  .big-text{
  font-size: 40px;
  font-weight: 600;
   }
   .description-p{
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    color: rgb(102, 102, 102);
   }
  .breadcrumbs{
    li{
      list-style: none;
    }
    .breadcrumbs-link{
    color: black;
    text-decoration: none;
    }
    .breadcrumbs-item:not(:last-of-type)::after{
      content: '\203a';
      color: rgb(84, 84, 84);
      margin: 0 15px;
    }
    .breadcrumbs-item:last-child .breadcrumbs-link{
      color: rgb(13, 144, 231)
    }
    .breadcrumbs-item:hover .breadcrumbs-link{
      color: rgb(13, 144, 231)
    }
  
  
}
}
.product-content {
  padding: 0 50px;
  .filter-button{
    font-weight: 500;
    font-size: 25px;
    color: white;
    background-color: #2b8beb;
    font-family: "Poppins",sans-serif;
    transition: background-color 0.5s ease;
     border: 1px solid rgb(99, 196, 238);
     display: none;
  }
  .filte-button:hover{
    border: 1px solid black;
    color:black;
    background-color: white;
  }
  .filter-menu{
    .clear-button{
      font-size: 20px;
      text-align: center;
      width: 100%;
      color:white;
      text-decoration: none;
      background-color: rgb(51, 119, 235);
      margin-bottom: 10px;
      border-radius: 5px;
      font-weight: 600;
      font-family: "Poppins",sans-serif;
      transition: all 0.3s ease;
    }
    .clear-button:hover{
       color:white;
      background-color:  rgb(36, 80, 156);
    }
    .filter-title{
      text-decoration: none;
      color: black;
      cursor: pointer;

    }
    .filter-title span{
      width: 100%;
      font-size: 20px;
      font-weight: 500;


    }
    .filter-title.filter-title-active::after{
      content: '\25BC';
      font-size: 20px;
    }
    .filter-title::after{
      content: '\25B2';
      font-size: 20px;
      ;
    }
    
    .filter-collapse{
      font-size: 17px;
      font-family: "Poppins",sans-serif;
      transition: all 0.5s ease;

      max-height: 0;
      &::-webkit-scrollbar{
        width: 2px;
          }
      &::-webkit-scrollbar-track{
        background-color: #f4f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(205, 204, 204); 
      }
      // display: none;
      // flex-direction: column;
      // display: flex;
      a{
        text-decoration: none;
        color:black ;
      }
      a.active{
        color: #0879f1;
      }
      

    }
   
    .filter-collapse-active{
      max-height: 350px;
      // padding:8px 0;
      // display: block;
    }
     .filter-collapse a:hover{
        color: #0879f1;
      }
      

  }
  .product-main{
    height: 100%;

  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
}

/*-------------------------Product Detail----------------------- */
//   box-sizing: border-box;

body {
  line-height: 1.5;
}
.product-detail {
  margin-top: 30px;
  .img {
    &__display {
      height: 600px;
        position: relative;
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      img.active{
        opacity: 1;
      }
    }
    &__showcase {
      overflow: hidden;
      display: flex;
      width: 100%;
      transition: all 0.5s ease;
      height: 100%;
      img {
        min-width: 100%;
        border: 1px solid rgb(228, 228, 228);
        height: 600px;
        border-radius: 25px;
      }
    }
    &__select {
       

      img{
        height: 180px;
        width: 180px;
        border-radius: 15px;
        overflow-clip-margin: content-box;
        
      }
    
    .slider-item.active{
        border: 1px solid rgb(9, 162, 208);

    }
  }}
}
img {
  width: 100%;
  height: 100%;
  display: block;
}

.detailProduct-header-right{
  padding: 0 50px;
  .add-cart-button{
    border-radius: 5px;
    font-size: 17px;
  }
  .purchase-info{
    .purchase-quantity{
      height: 100%;
      width: fit-content;
      border: 1px solid rgb(217, 217, 217);
      input{
        border: 0;
        height: 100%;
         border-right: 1px solid rgb(223, 222, 222);
          border-left: 1px solid rgb(218, 210, 210);
      }
      button{
        height: 100%;
        width: 50px;
        border-radius: 0;
        border: 0;
       
      }
    }
  }
  .product-size{
    .size-item {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid rgb(177, 177, 177);
      margin-left: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(2, 2, 2);
      background-color: white;
      font-size: 15px;
      cursor: pointer;
    }
    .size-item.active{
       color:white;
      background-color: #1498de;
    }
    .size-item:hover {
      color:white;
      background-color: #1498de;
    }
    p{
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      min-width: 100px;
      display: inline-block
    }
  }
  ul{
    li{
      list-style: none;
      font-size: 15px;
      margin: 20px 0;
      font-family: "Poppins",sans-serif;

      span{
       font-weight: 400;
    }
    strong{
      min-width: 130px;
      font-weight: 600; 

      display: inline-block;
    }
    }
    
    
  }
   .product-detail{
    p{
    font-family: "Poppins",sans-serif;
    line-height: 1.8;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    }
   }
   .product-price{
    p{
    color: #1498de;
    font-size: 30px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
    
    }
    .last-price{
      font-size: 25px;
      text-decoration: line-through;
      color: rgb(138, 138, 138);
    }
    .discount{
      font-size: 13px;
      color: rgb(58, 57, 57);
      background-color:rgb(197, 195, 195);
    }
  }

}
.product-title-detail {
  font-family: "Poppins",sans-serif;
  font-weight: 500;
}
.product-rating {
  color: yellow;
}
.product-price {
  font-weight: bold;
}
.product-price span {
  margin-left: 10px;
}
.product-price .last-price span {
  text-decoration: line-through;
}

.product-size {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.product-size p {
  padding: auto;
  color: red;
}
.product-stock {
  font-weight: bold;
  font-size: 15px;
  color: rgb(146, 96, 96);
}
.purchase-info {
  display: flex;
  flex-direction: column;
}
.purchase-quantity {
  margin-top: 10px;
  color: red;
  margin-bottom: 10px;
}
.purchase-info span {
  font-weight: bold;
}
.purchase-info input {
  width: 50px;
  text-align: center;
  margin-left: 10px;
}
.purchase-info button {
  width: 200px;
  border-radius: 10px;
}
.detailProduct-center {
  /* height: 400px; */
  width: 95%;
}
.listProducts_SPLQ {
  width: 100%;
}
.nav__box__SPLQ {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(50px, auto));
  gap: 1.5rem;
}
 .carousel-section {
    margin: 0 20px;
}
.carousel-inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /** new style */
    max-width: 100%;
    height: 750px;
}
// .carousel-button{
//   position: relative;
// }
.carousel-control-prev-icon{
  position: absolute;
  left: -25px;
  transition: 0.5s ease;
}
.carousel-control-next-icon{
  position: absolute;
  right:-25px;
  transition: 0.5s ease;
  background-color: transparent;
}
.carousel-icon{
  padding:18px
}
.carousel-icon:hover{
  background-color: rgb(0, 255, 242);
  // border:solid 1px rgb(147, 237, 246);
  padding: 22px;
  box-shadow:1px 1px 5px 3px #30d2ee;
}
.carousel-control-prev:hover .carousel-control-prev-icon{
  left:50px
}
.carousel-control-next:hover .carousel-control-next-icon{
  right:50px;
}
.carousel-item {
    transition: opacity 3s ease;
  }
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2s;
  }
footer{ 
  height: fit-content
}
@import "./pages/__header";
@import "./pages/__cart";
@import "./pages/__userPage";
@import "./pages/__orderPage";
@import "./pages/__slider";
@import "./pages/__error";

@media screen and (max-width: 1050px) {
   .header-bottom__logo{
    width: 0;
    height: 0;
  
   }
}

@media screen and (max-width: 990px) {
  .header-bottom{
    .home-cart{

    
    margin-top:20px;
    }
   .menu-search{
    padding: 4px;
    color: #0879f1;


  }
  .input-search {
    padding:5px 10px;

  }
}
  .product-content{
    padding: 0 5px;
  }
  .sticky-div{
    position:static;
  }
   .product-content .filter-button{
    display: block;
   }
   .filter-menu{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
   }
   .filter-menu-active{
    max-height:1000px;
   }
  
    .header-bottom div {
    height: auto;
  }
  .header-bottom {
    height: auto;
  }
  .header-bottom-infor {
    flex-direction: column;
  }
  .menu-list button {
    display: block !important;
  }
  .header-top {
    display: none;
  }
  .home-menu {
    display: none;
  }
  .menu-list {
    display: none;
  }
    .menu-bars{
      padding-top: 10px;
    visibility: visible;
  }
   .header-bottom__logo{
    padding: 0;
    height: 100%;
    width: 100%;
   }
 
}
@media only screen and (max-width: 600px) { 
  .product-item2 img{
      height: 250px;
  }
}
@media only screen and (max-width: 768px) {

  .carousel-section {
    margin: 0px;
 
}

  .carousel-section img{
    height: 350px;

  }
 .best-seller-2 img{
    height: 150px;
    width: 150px;
  }
  .sale-banner img{
    display: none;
  }
  .big-text h1{
    font-size: 35px;
    margin-top: 30px;
  }
 }
 

/* --------------------Admin Css------------------- */
/*  */
