extends ../../layout/login.pug
block main_content 
    div.main-page.d-flex.flex-column
                        .title-text.mt-3.mb-3
                            a(href="/") 
                                i.icon-home.fs-2.fa-solid.fa-shop.mb-5
                            p.fs-2.fw-bolder.my-0 Holla,
                            p.fs-2.fw-bolder.mb-1 Welcome back
                            p(style="color:gray") Hey,welcome back to your special place
                        form#login-form(method="POST" action="/login/signin?_method=PATCH")
                            div.input-section
                                p.warning-text.mb-1 Your password or account is wrong!
                                .input-group
                                    input.form-control.username-input.rounded-2.mb-2.px-3(placeholder="email" name="email" type="text" required)
                                .input-group
                                    input.form-control.password-input.rounded-2.px-3(type="password" placeholder="Password" name="password" required)
                            div.mb-4.mt-2.d-flex.flex-row.justify-content-between(style="width:90%")
                                div
                                    .input-group.m-0
                                        .form-check.p-0
                                            input.form-check-input.remember-check.mx-1(type="checkbox" )
                                        span Remember me
                                div
                                    a(href="#") Forgot password?
                            div.mb-5
                                button.signIn-btn.rounded-3(type="submit") Sign in
                            div
                                span Dont have account? 
                                    a(href="/login/index_signUp")  click heres