extends ../../layout/default.pug
include ../../mixins/alerts/successAlert.pug
include ../../mixins/alerts/errorAlert.pug


block main
    +success_alert(messages.success)
    +error_alert(messages.error)
    .container-fluid.pd-none
    form.wrapper-add-product.mg-5.pd-none(method='POST' action=`/admin/roles/add-new-role?_method=PATCH` add-product-form)
        section.add-product-header.bg.d-flex
            div
                h2 Tạo mới nhóm quyền
            button.btn.btn-primary.save.btnSaveFormAddProduct(type='submit') Tạo mới

        section.add-product-body
            .row
                .col-7.bg
                    div.item.basic-information
                        .modal-header
                            h4.modal-title Basic Information : 
                        .modal-body
                            // product title
                            .row
                                .col-md-5
                                    .form-group
                                        label(for='prodcuct_title') Tên Nhóm quyền
                                        input#prodcuct_title.form-control(type='text' name='title' placeholder='Tên' required)
                                        span#productError.text-danger
                            .row   
                                .col-md-12
                                    .form-group
                                        label(for='long_description') Miêu tả
                                        span: i(class="fa-solid fa-circle-check")

                                        textarea#long_description.form-control(name='description' rows='10' placeholder='Long Description' )
                                        span#long_description_error.text-danger
                .col-3.bg
                    div.item.visibility
                        .row
                            .modal-header
                                h4#exampleModalLabel.modal-title Trạng thái hoạt động : 
                            .modal-body
                                .row   
                                    .col-md-12
                                        .form-group
                                            label Trạng thái
                                        .form-group.statusProduct
                                            input#active(type='radio' name='status' value="active" checked)
                                            label.form-check-label(for='active')
                                                | Active
                                            input#inactive(type='radio' name='status' value="inactive")
                                                
                                            label.form-check-label(for='inactive')
                                                | Inactive
                                //- .row
                                //-     .col-md-12
                                //-         .form-group
                                //-             label(for='category_name') Publish Date
                                //-             input#updateAt.form-control(name='updateAt' type='text' required )
                                //-             span#categoryError.text-danger







