extends ../../layout/default.pug
include ../../mixins/alerts/successAlert.pug
include ../../mixins/alerts/errorAlert.pug

block main
    +success_alert(messages.success)
    +error_alert(messages.error)
    input.form-control(type="")
    .container.permission-container.p-5.d-flex.flex-column.align-items-center
        .block.d-flex.flex-row.p-4.justify-content-between.mb-5
            .left-side.d-flex.flex-column
                span.fs-3.fw-bold Các nhóm quyền
                span.fs-5.fw-light Bạn có thêm tạo thêm các nhóm quyền tùy ý
            .right-side.my-auto
                button.btn.btn-warning.text-center.fs-4.mx-3(btn-add-role style="color:white") Cập nhật
                if(role.permissions.includes("add-role"))
                    a.btn.btn-info.text-center.fs-4( href="/admin/roles/add-new-role" style="color:white") + Thêm nhóm quyền
        .block.permission-block.d-flex.flex-row.justify-content-between.px-4
            table.table.align-middle.mb-0
                thead
                    tr()
                        th.action-header.text-start
                            span.fs-4 Action
                        for role in roles 
                            th(role-id=role._id role-permissions=role.permissions)
                                
                                span.fs-5(style=`color:${role.status=="active"?"#06dd0e":"#ff2900"}`) #{role.title} 
                                a(href="#")
                                    i.fa-solid.fa-user-minus 
                                a.ms-2(href="#")
                                    i.fa-solid.fa-pen-to-square 
                      
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-brands.fa-product-hunt
                                | Quản lý sản phẩm
                    tr.permission-item(data-name="view-product")
                        th.text-start
                            span.fs-5 Xem trang sản phẩm
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                     
                    tr.permission-item(data-name="add-product")
                        th.text-start
                            span.fs-5 Thêm sản phẩm mới
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.permission-item(data-name="edit-product")
                        th.text-start
                            span.fs-5 Chỉnh sửa thông tin sản phẩm
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr(data-name="delete-product")
                        th.text-start
                            span.fs-5 Xóa sản phẩm
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-solid.fa-list
                                | Quản lý Danh mục
                    tr.permission-item(data-name="view-categoryy") 
                        th.text-start
                            span.fs-5 Xem trang quản lý danh mục
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")           
                    tr.permission-item(data-name="add-category")
                        th.text-start
                            span.fs-5 Thêm danh mục mới
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.permission-item(data-name="edit-category") 
                        th.text-start
                            span.fs-5 Chỉnh sửa danh mục
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr(data-name="delete-category")
                        th.text-start
                            span.fs-5 Xóa danh mục
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-solid.fa-o
                                | Quản lý Hóa đơn
                    tr.permission-item(data-name="view-orders") 
                        th.text-start
                            span.fs-5 Xem trang quản lý hóa đơn
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")           
                    tr.permission-item(data-name="change-status-orders")  
                        th.text-start
                            span.fs-5 Thay đổi trạng thái hóa đơn
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr(data-name="view-orders-cancellation") 
                        th.text-start
                            span.fs-5 Xem các hóa đơn bị hủy
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-solid.fa-user
                                | Nhân viên
                    tr.permission-item(data-name="view-staffs")  
                        th.text-start
                            span.fs-5 Xem trang quản lý nhân viên
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")         
                    tr.permission-item(data-name="add-staffs")  
                        th.text-start
                            span.fs-5 Thêm nhân viên mới
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.permission-item(data-name="edit-staffs") 
                        th.text-start
                            span.fs-5 Chỉnh sửa nhân viên
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr(data-name="delete-staffs") 
                        th.text-start
                            span.fs-5 Xóa nhân viên
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-solid.fa-chart-simple
                                | Thống kê
                    tr(data-name="view-statistics") 
                        th.text-start
                            span.fs-5 Xem trang thống kê
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-solid.fa-users
                                | Khách hàng
                    tr(data-name="view-customers") 
                        th.text-start
                            span.fs-5 Quản lý khách hàng
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-solid.fa-copyright
                                | Nhãn hiệu
                    tr.permission-item(data-name="view-brands") 
                        th.text-start
                            span.fs-5 Xem danh sách nhãn hiệu
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.permission-item(data-name="edit-brands") 
                        th.text-start
                            span.fs-5 Chỉnh sửa nhãn hiệu
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.permission-item(data-name="add-brands") 
                        th.text-start
                            span.fs-5 Thêm nhãn hiệu
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr(data-name="delete-brands") 
                        th.text-start
                            span.fs-5 Xóa nhãn hiệu
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr.title-persmission
                        th.text-start
                            span.fs-4 
                                i.me-2.fa-brands.fa-product-hunt
                                | Phân quyền
                    tr.permission-item(data-name="change-permissions")  
                        th.text-start
                            span.fs-5 Phân quyền cho các nhóm quyền
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")
                    tr(data-name="add-role") 
                        th.text-start
                            span.fs-5 Thêm nhóm quyền
                        for role in roles
                            th(scope='col')
                                input(type="checkbox")                                                                 
    script(src="/build/permissions_admin.bundle.js")