/* main - Header */


/* main - Header - top */

.main-header-wrapper {
  width: 100%;
  background-color: var(--base-bg-color);
}
 .header-top-infor{
  span{
    color: white;
    font-size: 1.5rem;
    
  }
 }
.header-bottom {
  width: 100%;

  top: 0;
  transition: transform 1s ease;
  background-color: var(--base-bg-color);
  div {
    height: 7rem;
  }
  .fa-user:hover{
    color: aqua;
  }
  &__logo {
    height: 90%;
    width: 70%;
    padding: 5% 0px;
  }
  .nav__list {
    height: 100%;
    display: flex;
    list-style-type: none;
    margin-bottom: 0px;
  }
  .nav__item {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin: 0 10px;
      position: relative;

    .nav-title{
      &:hover{
        color: aqua;
      }
    }
    .nav-title {
      @include a(var(--header-bg-color));
      text-transform: uppercase;
      border: 0.5px solid #ffffff;
      padding: 0.5rem 0.5rem;
      border-radius: 3.5rem;
      text-align: center;
      
    }
    .li-collapse{
      
        position: absolute;
        z-index: 5;
        top: 158%;
        left: -30%;
        overflow: hidden;
        transition: all 0.5s ease;
        opacity: 0;
        width: fit-content;
        min-width: 200px;
        height: fit-content;
        padding: 15px 15px;
        visibility: hidden;
        font-family: "Poppins",sans-serif;
        background-color: rgb(253, 255, 255);
        a{
          cursor: pointer;
        }
        
        .collapse-item{
        height: fit-content;
        width: max-content;
          
             a:hover{
            color: rgb(12, 170, 219)
            
        }
        a{
          cursor: pointer;
        }
        }
        .item-content{
        height: fit-content;
        width: max-content;


        }
        .item-title{
        height: fit-content;
        display: inline;
        }
       .item-title a{
        width: fit-content;

          font-size: 17px;
          color:black;
            text-decoration: none;
            cursor: pointer;
            }
        .item-content a{
            font-size: 17px;
            color:black;
            text-decoration: none;
            cursor: pointer;
        }
     
    }
  }
  .nav__item:hover .li-collapse{
        top: 80%;
        opacity: 1;
        visibility:visible;
        

  }

  .menu-search {
    width: 100px;
    height: 30px;
    position: relative;
    border-radius: 5px;
      z-index: 3;
      color: black;
   .btn-cancel{
    top: 29%;
    right: 10px;
    position: absolute;
    font-size: 2rem;
    display: none;
    cursor: pointer;
   }
    .btn-cancel.active{
    display: block;
  }
    .menu-expand{
      background-color: #ffffff;
    margin-right: 1rem;
    padding: 10px;
    border-radius: 5px;
      position: absolute;
      right:-80%;
      top: 200%;
      height: fit-content;
      display: none;

    }
    .menu-expand.active{
      display: block;

    }
    .menu-search-expand{

      position: absolute;
      left:0;
      top: 100%;
      width: 100%;
      background-color: white;
      z-index: 3;
      height: fit-content;
      display: none;
      .row{
        text-decoration: none;
        cursor: pointer;
      }
     span{
      font-family: sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: rgb(26, 26, 26);
      text-decoration: none;
     }
     .product-price{
      color: rgb(60, 218, 250);
      
     }
    }
    .menu-search-expand.active{
      display: block;
    }


  }
  .input-search {
    max-width: 35rem;
    width: 300px;
    border-radius: 5px;
    padding:19px 15px;
    font-weight: bold;
    outline: none;
    border: 1px solid rgb(220, 221, 221);
    cursor: pointer;

  }
  .input-search:focus{
    border: 1px solid rgb(57, 166, 228);
  }
  .btn-search {
    top: 29%;
    right: 10px;
    position: absolute;
    font-size: 2rem;
    display: none;
    cursor: pointer;

  }
  .btn-search.active{
    display: block;
  }
  .menu-cart {
    font-size: 3rem;
  }
  .menu-list {
    margin-left: 2rem;
    button {
      display: none;
    }
    i {
      font-size: 3rem;
      color: red;
    }
  }
 

}
 .menu-bars{
  position: absolute;
  bottom: 8px;
  left: 0;
    visibility: hidden;
  }
  .menu-bars:hover{
    color: rgb(0, 247, 255);
  }
.sticky-div{
position: fixed;
 top:0;
 left:0;
 z-index:5;
 
     box-shadow: 0 10px 50px #2e38dc33;
}
.header-bottom.sticky-div {
  transform: translateY(0);
}

.header-bottom.hidden-div {
  transform: translateY(-100px); /* Initially hide */
}
 .header-bottom-expand{
  position: fixed;
  top: 0;
  left: -400px;
  width: 350px;
  background-color: #fefefe;
  z-index: 6;
  border-radius: 0px 30px 30px 0px;
  transition: all 0.5s ease;
  height: 100%;
  .fa-x{
      cursor: pointer;
    }
  .header-expand-collapse{
    
    .item-title{
      font-size: 15px;
      .item-title-icon{
        cursor: pointer;
        &::after{
        content: "\2212 ";
        color: black;
        font-size: 25px !important;
        font-weight: 600  ;
        opacity:  0.5;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        
          
        }
      }
     
      a{
        text-decoration: none;
        color: black;
        font-family: "Poppins",sans-serif;
      }
      a:hover{
        color: rgb(12, 148, 238);
      }
    }
    .item{
       .item-collapse{
          max-height: 0;
          -webkit-transition: max-height 0.4s ease-in-out;
        transition: max-height 0.4s  ease-in-out;
        }
        .item-collapse.active{
          max-height: 500px;

        }
    }
      .item.item-active{
       >.item-collapse{
            max-height: 500px;
            margin: 5px 0;
        }
      >.item-title .item-title-icon{
          &::after{
        content: "\002B " !important;
        opacity:  1;
          
        }
      }
    }
  }
  .row{
    height: 100%;
    &::-webkit-scrollbar{
   width: 2px;
      }
      &::-webkit-scrollbar-track{
        background-color: #f4f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(205, 204, 204); 
      }
  }
  .title{
    img{
      width: 50%;
    }
  }
 }
 .header-bottom-expand.active{
  left: 0;
 }