.range-slider {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #a3f4ff;
  border-radius: 5px;
  z-index:1;
  button{
    color: white;
    background-color: blueviolet;
  }
}
#maxRange{
  pointer-events: none;

}
#minRange{
    transition: all 1s ease;
}
.slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  height: 5px;
  background: transparent;  
}
.range-values .range-text{
    background-color: rgb(124, 123, 211);
    color: white;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background: #309ee2;
  border-radius: 50%;
  cursor: pointer;
}

.range-values {
  margin-top: 10px;
}
