// Dashboard_Main

// Header_avatar
nav.navbar.navbar-expand.px-3.border-bottom
  button#sidebar-toggle.btn(type='button')
    span.navbar-toggler-icon
  // Avatar Button
  .navbar-collapse.navbar
    ul.navbar-nav
      li.nav-item.dropdown
        a.nav-icon.pe-md-0(data-bs-toggle='dropdown')
          img.avatar.img-fluid.rounded(src='/images/avatar.jpg', alt='')
        // Dropdown Item
        .dropdown-menu.dropdown-menu-end
          a.dropdown-item(href='') Profile
          a.dropdown-item(href='') Profile
          a.dropdown-item(href='') Profile
          a.dropdown-item(href='') &Dstrok;&abreve;ng Xu&#x1EA5;t
//- // Content Title
//- nav.navbar.navbar_menu-title Tittle
//- // Content
//- nav.navbar.navbar_content Content
  


