extends ../../page/user/index.pug
include ../../mixins/addressMixin.pug

block user_content
    
    .mt-3.d-flex.flex-row.justify-content-between
        p.fs-2 Your addresses
        button.addAddress-btn.p-3.fs-4(type="button" data-bs-toggle="modal" data-bs-target="#addAddressModal") + Add more address
    if(addresses.length==0)
        .mt-2.text-center
            span.warning-addAddress.fs-4 Add more address to make order
    hr.mx-auto(style="width:100%")
    .mt-3.d-flex.flex-column
        for address in addresses 
            +addressMixin(address)
       
    form(action="/user/addAddress" method="POST") 
        .modal.fade(id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalTitle" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content.px-5
                    .modal-header
                         h5.modal-title.fs-2.fw-bold(id="addAddressModalTitle") Add address modal
                        
                    .modal-body
                            p.fs-3.my-0 Tỉnh/Thành Phố
                            .input-group
                                input.form-control.fs-3.my-0.mb-3(type="text" name="city" required)
                            p.fs-3.my-0  Quận/ Huyện
                            input.form-control.fs-3.my-0.mb-3(type="text" name="district" required)
                            p.fs-3.my-0  Xã /Phường
                            input.form-control.fs-3.my-0.mb-3(type="text" name="commune" required)
                            p.fs-3.my-0  Số nhà/Đường
                            input.form-control.fs-3.my-0.mb-3(type="text" name="street" required)
                    .modal-footer
                        button.btn.btn-secondary.fs-3(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary.fs-3(type="submit") Save 
    form#updateAddressForm(action="/user/update" method="POST") 
        .modal.fade(id="updateAddressModal" tabindex="-1" role="dialog" aria-labelledby="updateAddressModalTitle" aria-hidden="true")
            .modal-dialog.modal-dialog-centered(role="document")
                .modal-content.px-5
                    .modal-header
                         h5.modal-title.fs-2.fw-bold(id="updateAddressModalTitle") Update address model
                        
                    .modal-body
                            p.fs-3.my-0 Tỉnh/Thành Phố
                            input.form-control.city-input.fs-3.my-0.mb-3(type="text" name="city" required)
                            p.fs-3.my-0  Quận/ Huyện
                            input.form-control.district-input.fs-3.my-0.mb-3(type="text" name="district" required)
                            p.fs-3.my-0  Xã /Phường
                            input.form-control.commune-input.fs-3.my-0.mb-3(type="text" name="commune" required)
                            p.fs-3.my-0  Số nhà/Đường
                            input.form-control.street-input.fs-3.my-0.mb-3(type="text" name="street" required)
                            input.id-input(type="hidden" name="id" required)
                    .modal-footer
                        button.btn.btn-secondary.fs-3(type="button" data-dismiss="modal") Close
                        button.btn.btn-primary.fs-3(type="submit") Save 


    script(src="/build/addressPageJs.bundle.js")


