mixin success_alert(success)
    if(success)
        .alert.alert-success.alert-boxshowing(role="alert")
            span.fs-4 #{success}
            icon.fs-4.fw-bold.mx-4.fa-solid.fa-trash(hid-alert)